@charset "UTF-8";
@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 0% 200%;
    src: url(https://fonts.gstatic.com/s/robotoflex/v9/NaNeepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGfttPZktqc2VdZ80KvCLZaPcSBZtOx2MifRuWR28sPJtUMbsFEK6cRrleUx9Xgbm3WLHa_F4Ep4Fm0PN19Ik5Dntczx0wZGzhPlL1YNMYKbv9_1IQXOw7AiUJVXpRJ6cXW4O8TNGoXjC79QRyaLshNDUf9-EmFw.woff2) format('woff2');
  }

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto flex';
}

.header, .info, .quote, .call, .footer {
    /*border: 2px solid darkgoldenrod;*/
    padding: 0px 100px;
    padding: 10px 150px;
}

a {
    text-decoration: none;
}

.header, .footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.call_box, .button_text {
    background-color: #3882f6;
}

.header_tittle {
    font-size: 48px;
}

.header_tittle, .header_logo, .call_tittle {
    color: #f9faf8;
}

.header_link, .header_parag, .button_text, .call_text, .img_subtext, .quote_author {
    font-size: 18px;
    font-weight: 100;
}

.header_link, .header_parag, .button_text, .call_text, .footer_text{
    color: #e5e7eb;
}

.header_logo {
    font-size: 24px;
}

.quote_author {
    font-weight: 600;
}

.info_head, .quote_text {
    font-size: 36px;
    color: #1f2937;
}

.quote_text {
    font-style: italic;
    font-weight: 200;
}

.info, .quote, .call, .header {
    flex: 1;
}

.header_head, .header_body, .info_head, .info_body, .quote_text, .quote_author, .call_body, .footer_text{
    /*border: 2px solid lightseagreen;*/
    width: 100%;
}

.call_box {
   /* border: 2px solid lightseagreen;*/
}

.info_img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

ul {
    list-style: none;
}

.cont_col {
    display: flex;
    flex-direction: column;
}

.cont_row {
    display: flex;
    flex-direction: row;
}

.header {
    align-items: center;
}

.header_head {
    align-items: center;
    justify-content: space-between;
}

.header_link {
    gap: 15px;
}

.header_body {
    /*border: 2px solid darkgoldenrod;*/
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
}

.header_img {
    /*border: 2px solid darkgoldenrod;*/
    background-color: lightslategray;
    height: 200px;
}

.header_text {
    /*border: 2px solid darkgoldenrod;*/
    gap: 10px;
    padding: 10px;
}

.header_text, .header_img {
    flex-basis: 500px;
}

.button_text {
    padding: 5px 20px;
    border-radius: 5px;
    align-self: flex-start;
}

.info {
    align-items: center;
}

.info_head {
    text-align: center;
    padding: 30px;
}

.info_body {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px ;
}

.img_subtext {
    /*border: 2px solid blue;*/
    text-align: center;
    max-width: 150px;
}

img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.block_img {
    /*border: 2px solid red;*/
    align-items: center;
    max-width: 100%;
}


.quote_block {
    /*border: 2px solid darkgoldenrod;*/
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.quote_author {
    justify-content: flex-end;
}

.call {
    justify-content: center;
    align-items: center;
}

.call_box {
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 30px 70px;
    border-radius: 5px;
}

.call_box .button_text{
    border: 2px solid #e5e7eb;
}

.footer_text {
    text-align: center;
}
